<!DOCTYPE html>
<head>
    <%-include('./partials/header.ejs') %>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="confirmation.css">
</head>


<body>
    <div class = "page1">
        <div class = "box1">
            <h2>Thankyou for shopping with us. Your order will be arriving soon.</h2>
            <h3>Click here to go back to home page.</h3>
            <button><a href = "/index.html">Home</a></button>
        </div>
    </div>
    
</body>

</html>